#most-sale{
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.31);
    margin-bottom: 80px;
}

.most-sale--box1{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 24px;

    p{
        color: var(--Secondary-2, #DB4444);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
    }
}

.most-sale--box2{
    display: flex;
    align-items:end;
    justify-content: space-between;

    h3{
        color: var(--Text2, #000);
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px; /* 133.333% */
        letter-spacing: 1.44px;
    }
    .sale-box2--1{
        margin-right: 250px;
        margin-bottom: 5px;
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: center;

        p{
            color: #DB4444;
            font-size: 36px;
        }

        div{
            p{
                color: var(--Text2, #000);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; /* 150% */
            }

            h2{
                color: var(--Text2, #000);
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px; /* 93.75% */
                letter-spacing: 1.28px;
            }
        }
    }

    .sale-box2--2{
        margin-right: 60px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        
        button{
        border-radius: 100%;
        border: none;
        background: #F5F5F5;
        padding: 10px;
        cursor: pointer;
        }
    }

}

.most-sale-wrapper{
    margin-bottom: 60px;
    margin-top: 35px;
    display: grid;
    gap: 30px;
    grid-template-columns: 270px 270px 270px 270px 270px;
    grid-template-rows: 400px;
    overflow-x: scroll;
    .grid-item{
        &:hover{
            button{
                opacity: 1;
                transition: all 0.1s linear;
            }
        }
        position: relative;
        div{
            position: relative;
            height: 260px;
            background: #F5F5F5;
            padding: 12px;
            margin-bottom: 16px;
            p{
                color: var(--Text, #FAFAFA);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 150% */
                padding: 4px 12px;
                background-color: #DB4444;
                border-radius: 4px;
                width: 55px;
            }
            img{
                margin-top: 21px;
                margin-left: 20px;
            }

            button{
                position: absolute;
                opacity: 1;
                bottom: 0;
                left: 0;
                color: #FFF;
                background: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                width: 100%;
                padding: 8px 0; 
                cursor: pointer;
                opacity: 0;
            }
        }

        p:nth-child(2){
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            margin-bottom: 10px;
        }

        p:nth-child(3){
            display: flex;
            margin-bottom: 10px;
            gap: 20px;
            span:first-child{
                color: var(--Secondary-2, #DB4444);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
            }

            span:last-child{
                color: var(--Button, #000);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                text-decoration-line:line-through;
                opacity: 0.5;
            }
        }

        ul{
            display: flex;
            gap: 5px;
            color: var(--Text2, #000);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px; /* 150% */
            
            li:last-child{
                opacity: 0.5;
            }
        }

        .img1{
            text-align: center;
            width: 34px;
            height: 34px;
            position: absolute;
            right: 12px;
            top: 12px;
            background-color: white;
            border-radius: 100%;
            cursor: pointer;
            
            svg{
                margin-top: 5px;
            }
        }

        .img1:hover{
            background-color: #DB4444;
            transition: all 0.2s linear;
            svg{          
                path{
                    stroke: white;
                }
            }
        }

        .img2{
            text-align: center;
            cursor: pointer;
            width: 34px;
            height: 34px;
            position: absolute;
            top: 54px;
            right: 12px;
            background-color: white;
            border-radius: 100%;

            svg{
                margin-top: 7px;
            }
        }

        .img2:hover{
            background-color: #DB4444;
            transition: all 0.2s linear;
            svg{          
                path{
                    stroke: white;
                }
            }
        }
    }
}

.section1-button{
    padding: 16px 48px;
    background-color:#DB4444;
    border: none;
    color: white;
    color: var(--Text, #FAFAFA);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.section1-button:hover{
    background-color: #780606;
    transition: all 0.1s linear;
}
